<div class="container mt-4">
  <div class="row">
    <div class="col text-end">
      <span class="clock-icon">🕒</span>
      <span class="current-time">{{ currentTime }}</span>
    </div>
  </div>

  <form [formGroup]="materialForm" (ngSubmit)="addEntry()">
    <div class="row mb-3">
      <div class="col">
        <label for="lotNumber">Lot Number</label>
        <input type="text" class="form-control" id="lotNumber" [value]="lotNumber" disabled>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="col">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" formControlName="time">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="sand">Sand</label>
        <div class="input-group custom-input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="decrement('sand')">-</button>
          </div>
          <input type="number" class="form-control custom-input mt-2" id="sand" formControlName="sand">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="increment('sand')">+</button>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="rocks">Rocks</label>
        <div class="input-group custom-input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="decrement('rocks')">-</button>
          </div>
          <input type="number" class="form-control custom-input mt-2" id="rocks" formControlName="rocks">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="increment('rocks')">+</button>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="cement">Cement</label>
        <div class="input-group custom-input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="decrement('cement')">-</button>
          </div>
          <input type="number" class="form-control custom-input mt-2" id="cement" formControlName="cement">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary custom-btn" type="button" (click)="increment('cement')">+</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="live" formControlName="live" (change)="onLiveChange()">
      <label class="form-check-label" for="live">Live</label>
    </div>

    <button type="submit" class="btn btn-primary">Store Value</button>
    <button type="button" (click)="showRecords()" class="btn btn-secondary">Show Records</button>

  </form>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Lot No.</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Sand</th>
        <th scope="col">Rocks</th>
        <th scope="col">Cement</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="entries.length < 1">
        <td colspan="6">
          There is no record to display 😟 but we can add some 😉.
        </td>
      </tr>
      <tr *ngFor="let entry of entries">
        <td>{{ entry.lotNumber }}</td>
        <td>{{ entry.date }}</td>
        <td>{{ entry.time }}</td>
        <td>{{ entry.sand }}</td>
        <td>{{ entry.rocks }}</td>
        <td>{{ entry.cement }}</td>
      </tr>
    </tbody>
  </table>
</div>
